.tray {
  width: 130px;
}

.tray > li {
  background: none;
}

.draggable-helper {
  height: 130px;
  width: 130px;
}

.draggable-helper > li {
  background: none;
}

.target {
  // background-color: black;
}
